name: ci_simo
on: 
  push:
     branches: [ "main" ]
     
jobs:
  mio_job:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-node@v4
      - run: npm install
      - run: npm test
